/* MarkdownStyles.css */

.markdown-container {
    /* Add container styles */
    width: 100%;
    height: 75vh;
    margin: 20px;
    padding: 50px;
    /* background-color: #f8f9fa; */
    /* Light background color */
    border-radius: 8px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    /* Subtle box shadow */
    overflow-y: auto;
    /* Add vertical scrollbar when content overflows */
}

/* Custom scrollbar */
.markdown-container::-webkit-scrollbar {
    width: 5px;
    display: none;
    /* Width of the scrollbar */
}



.markdown-content {
    /* Add styles for the Markdown content */
    font-size: 15px;
    line-height: 2;
}

.markdown-content h1,
.markdown-content h2,
.markdown-content h3,
.markdown-content h4,
.markdown-content h5,
.markdown-content h6 {
    /* Styles for headings */
    color: #333;
    /* Dark heading color */
    font-weight: bold;
    margin-bottom: 10px;
}
.markdown-content h3 {
    font-size:x-large;
}
.markdown-content p {
    /* Styles for paragraphs */
    margin-bottom: 15px;
}

.markdown-content a {
    /* Styles for links */
    color: #007bff;
    /* Bootstrap primary color */
    text-decoration: none;
    border-bottom: 1px solid #007bff;
    /* Underline on hover */
    transition: border-bottom-color 0.3s ease;
}

.markdown-content a:hover {
    border-bottom-color: transparent;
    /* Remove underline on hover */
}

.markdown-content ul,
.markdown-content ol {
    /* Styles for lists */
    padding-left: 20px;
    margin-bottom: 15px;
}

.markdown-content ul li,
.markdown-content ol li {
    /* Styles for list items */
    margin-bottom: 5px;
}

/* Add more styles as needed */